@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

/* Applies to everything on the website */
* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at bottom, #2d3d54 0%, #090a0f 100%) ;
}


 body{
     margin: 0;
     font-family: 'Didact Gothic',sans-serif;
     text-align: center;
 }

 img{
     /* So it properly works when the window is resized*/
     max-width: 100%;
     position:relative;
     margin: auto;
     height: auto;
 }

 /*
 ==================== CONTAINERS
  */
  .container{
     width: 95%;
     margin: 0em auto;
     padding-top: 15em;
     height: 100vh;
 }



/*
==================== TYPHOGRAPHY
 */

h1{
    font-weight: 300;
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: justify;
}
.title{
    font-weight: 700;
    font-size: 5rem;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
    margin-bottom: 1.2em;
    text-align: center;
}

.title span{
    font-weight: 300;
    display: block;
    font-size: 0.5em;
}
.about-title{
    text-align: left;
    margin:0;
}



        /* Changes the font sizes based on screensize*/
        @media (max-width: 100rem) {
            p{
                font-size: 1.25rem;
            }

        }
        @media (max-width: 90rem) {
            .title{
                font-size: 3.6rem;
            }
            .title span{
                font-weight: 300;
                display: block;
                font-size: 0.45em;
            }
        }
        @media (max-width: 70rem) {
            .title{
                font-size: 3rem;
            }
            p{
                font-size: 1.2rem;
            }
        }

        @media (max-width: 40rem) {
            .about-grid-item p{
                font-size: 1rem;
            }
             .gameDevDescription p{
                font-size: 1rem;
            }
        }



/*
========== BUTTONS
 */
.button{
    display:inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: .40em 1em;
}

        /* Changes sizes when window width increases*/
        @media (min-width: 80rem) {
            .button{
                font-size: 1.5rem;
            }
        }

.button-accent{
    color: #FFFF;
}
.button-accent:hover,
.button-accent:focus{
    background: rgba(255, 255, 255, 0.25);
    color: #FFFFFF;
}



 /*
======================== HEADER ========================
 */
header{
    position: absolute; /* Adds the headed above the hero-bg image */
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul{
    margin:0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0.8em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .55em;  /* Increases the "clickable" area */
    color: #FFF;
}

nav a:hover,
nav a:focus{
    color: #DDD;
}


/*
================================================ SCROLL BAR ==========================================
 */
.scrollbar
{
	float: left;
	max-height: 350px;
    height: 100%;
	width: 65px;
	background: rgba(0,0,0,0);
	overflow-y: scroll;
	margin-bottom: 25px;
    overflow: auto;
}

.scrollbarAbout
{
	max-height: 395px;
    height: 100%;
	width: 100%;
	background: rgba(0,0,0,0);
	overflow-y: scroll;
    overflow: auto;
    padding-right: 1em;
}

.force-overflow
{
	min-height: 450px;

}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;

}


.mySlides1, .mySlides2, .mySlides3 .mySlides4{
    display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/*
 *  Scrollbar STYLES 2, 3, 4, 5
 */
#style-2::-webkit-scrollbar-track,#style-3::-webkit-scrollbar-track,#style-4::-webkit-scrollbar-track,#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
}

#style-2::-webkit-scrollbar,#style-3::-webkit-scrollbar,#style-4::-webkit-scrollbar,#style-5::-webkit-scrollbar
{
	width: 12px;
	background-color:rgba(0,0,0,.2);
}

/*
 *  STYLES 2 COLOR
 */
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.6);
	background-color: #ba8f79;
}
/*
 *  STYLE 3 COLOR
 */

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.6);
	background-color: #59a968;
}
/*
 *  STYLE 4 COLOR
 */
#style-4::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.6);
	background-color: #8778cd;
}

#style-5::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.6);
	background-color: #bababa;
}

       @media (max-width: 90rem) {
            #style-5::-webkit-scrollbar,#style-4::-webkit-scrollbar, #style-3::-webkit-scrollbar, #style-2::-webkit-scrollbar
            {
                width: 7px;
            }
        }
