<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/background.css" rel="stylesheet" type="text/css">
    <link href="../css/about.css" rel="stylesheet" type="text/css">
    <link href="../css/development.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Alberto Ramos CV</title>
</head>

<body>

    <!-- _________________________________ NAV BAR _________________________________ -->
    <header>
        <nav>
            <ul>
                <li><a href="#aboutsection">About</a></li>
                <li><a href="#gamesection">Games <i class="fa fa-gamepad"></i></a></li>
                <li><a href="#appsection">Apps <i class="fa fa-mobile"></i></a></li>
                <li><a href="#websection">Web <i class="fa fa-desktop"></i></a></li>
            </ul>
        </nav>
    </header>

    <section id="wrap">

        <!-- _________________________________ HERO _________________________________ -->
        <section class="hero">
        <div id="stars"></div> <div id="stars2"></div><div id="stars3"></div>
        <div class="container">
            <h1 class="title">Alberto Ramos
                <span>is ready to get some work done.</span>

            </h1>
            <a href="#aboutsection" class="button button-accent" >Let's get started</a>
        </div>
        </section>


        <!-- _________________________________ ABOUT _________________________________ -->
        <section class="about" id="aboutsection">
            <div class="about-grid-container">
                <div class="about-grid-item about-item1 about-profile-photo"></div>
                <h1 class="title about-title about-grid-item about-item2">About me</h1>
                    <div class="about-grid-item about-item3 scrollbarAbout" id="style-5">
                        <p> Hello! My name is Alberto, I am 23 years old and I am about to finish my Master degree in Computer Science.
                            Therefore, I am currently searching for a job, hence the creation of this small humble website.
                            <br><br> During my bachelor and masters, I’ve developed  a special interest towards app and game development and I consider those to be my main passions in the area.
                            In my future job, my main goal is to evolve both professionally and personally. I consider myself an ambitious hardworking person that gives his best to solve any adversity that may arise.
                            I constantly seek to acquire new knowledge on areas of my interest, so I can improve my skills and fulfill my quest for professional success.
                            <br><br>During my free time I love to go outside and, if possible, travel. Since I was a kid, photography
                            has always been a passion of mine so it’s pretty common to see me along side a camera.
                            Apart from photography, climbing is my other passion. I started this hobby a bit over 2 years ago
                            and, since then, I do my best to climb twice or thrice a week.
                            <br><br>But enough about my interests. Let's take a look at some actual work that I've developed throughout
                            the years.
                       </p>
                    </div>
                    <div class="about-grid-item about-item4 ">
                        <a href="../Download/CV.pdf" class="about-btn" target="_blank"><i class="fa fa-file-pdf-o" download></i>  Curriculum Vitae </a>
                    </div>
                    <div class="about-grid-item about-item5 ">
                        <a href="https://www.linkedin.com/in/alberto-s-ramos/" class="about-btn" target="_blank"><i class="fa fa-linkedin-square" download></i>  LinkedIn </a>
                    </div>

            </div>
        </section>


        <!-- _________________________________ GAME DEVELOPMENT _________________________________ -->
        <section class="Development" id="gamesection">
            <!--<div id="stars"></div> <div id="stars2"></div> <div id="stars3">-->
            <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">Game Development  <i class="fa fa-gamepad"></i>
                            <span> Unity | C# | Blender</span>
                    </h1>

                    <!-- ___________________ SECTION DESCRIPTION ___________________ -->
                    <!--<div class="DevDescription">
                        <p> Game design and development is a passion I discovered during my Master degree. It all started as pure curiosity and ended up being my area of specialization.
                            <br>In total, I've done three game development related courses during my Master degree: Game Design, Game Development Methodology and Virtual Reality.
                            <br>All of these courses allowed me to learn and improve my skills in the area, each in its own way. Additionally, my master thesis also required me to develop a game from scratch which ended up being tested by over 50 people.
                            <br>Below you can find a small portfolio with some of the games I developed throughout the years.
                        </p>
                    </div>-->

                    <!-- ___________________ CONTAINER: LOOT MACHINA X ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(214,109,36,0.20);">
                            <div class="dev-grid-item dev-item1">
                                <img src="../img/LootMachinaX.png" style="width:100%;max-width:450px">
                            </div>

                            <div class="dev-grid-item dev-item2">
                               <div class="slideshow-container">
                                      <div class="mySlides1">
                                        <img src="../img/DDJImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="../img/DDJImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="../img/DDJImage3.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="../img/DDJImage4.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                                      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                                </div>
                            </div>

                            <div class="dev-grid-item dev-item3 scrollbar" id="style-2">
                                     <p> LootMachinaX was the first 3D game I developed for a course called Game Design.
                                         They gave us the freedom to create a game within the theme "Ex-Lootbox". From there, I created a game where the goal was for the player to find different loot boxes scattered around map, while exploring a 3D environment. These boxes contained different augmentations (e.g. "super jump", "rush", "break crystals") for the main character, allowing him to reach areas of the map that were previously impossible.
                                     </p>
                                     <p>This course and the development of this game made me realize that Game Development is one of my biggest passions in this area, since I often found myself happy to think I was going to work on this game.
                                     </p>

                            </div>
                            <div class="dev-grid-item dev-item4">
                                <a href="https://github.com/albertoramos1997/LootMachinaX.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                    </div>

                    <!-- ___________________ CONTAINER: THE ISLAND ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(51,112,68,0.20);">
                         <div class="dev-grid-item dev-item1-inverted">
                                <img src="../img/theislandlogo.png" style="width:100%;max-width:600px">
                         </div>

                         <div class="dev-grid-item dev-item2-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides2">
                                    <img src="../img/MDJImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="../img/MDJImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="../img/MDJImage3.JPG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="../img/MDJImage4.JPG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-inverted scrollbar" id="style-3">
                                    <p> The Island was a game created in the context of the Game Development Methodology course I took during my Master degree. Along side a small team of colleagues, we developed a 3D low poly style game that explored the basic concepts of a survival game such has harvesting materials, hunting animals, gathering resources and exploring.
                                    </p>
                                    <p>The course was more focused on the whole game development experience, i.e., from early scratches and brainstorm to competition and domain analysis. Therefore the game itself focused basic survival game mechanics.
                                    </p>
                                    <p>We had the privilege to work closely with two art students who developed specific assets for our game and helped us improve the overall look and feel of the game environment. Getting to work on this game with a team from distinct backgrounds was a great learning experience.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4-inverted">
                                <a href="https://github.com/albertoramos1997/The-Island.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                    </div>

                    <!-- ___________________ CONTAINER: WAY OUT ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(113,70,121,0.20);">
                            <div class="dev-grid-item dev-item1">
                                <img src="../img/WayOutLogo.png" style="width:100%;max-width:600px;">
                            </div>

                            <div class="dev-grid-item dev-item2">
                               <div class="slideshow-container">
                                      <div class="mySlides3">
                                        <img src="../img/TeseImage3.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="../img/TeseImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="../img/TeseImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="../img/TeseImage4.png" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="../img/TeseImage5.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="../img/TeseImage6.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                                      <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                                </div>
                            </div>

                            <div class="dev-grid-item dev-item3 scrollbar" id="style-4">
                                     <p>Way out is a 3D low poly puzzle game where you play as a golem who just woke up and is trying to figure out the purpose of his existence.  To do so, he has to solve certain puzzles and challenges in different rooms and environments to find clues about himself and the reason of his embodiment.
                                     </p>
                                     <p>The plot behind the game is that a human scientist managed to be the first in achieving full conscience transmutation. The puzzles that the golem has to solve throughout the game were actually created by the golem himself, while he still embodied his human form. They are a way of validating whether the golem’s cognitive and reasoning abilities are compatible with those of normal humans and if the transmutation occurred flawlessly.
                                     </p>
                                     <p> Way Out was developed as a part of my Master thesis that aimed to study the players' attentional skills and mental workload in games.
                                     </p>

                            </div>

                            <div class="dev-grid-item dev-item4">
                                <a href="https://github.com/albertoramos1997/WayOut.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>

                    </div>

            </div>
        </section>

        <!-- _________________________________ APP DEVELOPMENT _________________________________ -->
        <section class="Development"  id="appsection">
                <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">App Development  <i class="fa fa-mobile"></i>
                            <span> Android Studio | Java | XML </span>
                    </h1>

                    <!-- ___________________ SECTION DESCRIPTION ___________________ -->
                    <!--<div class="DevDescription">

                        <p> Game design and development is a passion I discovered during my Master degree. It all started as pure curiosity and ended up being my area of specialization.
                            <br>In total, I've done three game development related courses during my Master degree: Game Design, Game Development Methodology and Virtual Reality.
                            <br>All of these courses allowed me to learn and improve my skills in the area, by using tools such as Unity and Blender. Additionally, my master thesis also required me to develop a game from scratch which ended up being tested by over 50 people.
                            <br>Below you can find a small portfolio with some of the games I developed throughout the years.
                        </p>
                    </div>-->

                    <div class="app-wrapper">
                        <!-- ___________________ CONTAINER: COFFEE SPOT ___________________ -->
                        <div class="dev-grid-app-container coffeeSpot" style="background-color: rgba(183,166,128,0.4);">
                         <div class="dev-grid-item dev-item1-app-inverted">
                                <img src="../img/coffeespot.png" style="width:100%;max-width:450px">
                         </div>

                         <div class="dev-grid-item dev-item2-app-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides4">
                                    <img src="../img/CoffeeSpot1.png" style="width:100%; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="../img/CoffeeSpot2.png" style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="../img/CoffeeSpot3.png"style="width:100%; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="../img/CoffeeSpot4.png"style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="../img/CoffeeSpot5.png"style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-app-inverted scrollbar" id="style-1">
                                    <p>As part of a student entrepreneurs contest in Portugal (Poliempreende 18'), I was responsible for the design and development of the Coffee Spots' mobile application (front-end).
                                    <br><br>
                                    This app had as main goals to facilitate and accelerate the process of customer service, to provide information related with the different products of the brand and to show the customers the location of the various stores throughout the city.
                                    <br><br>
                                    Me and my team of 3 other colleagues (all from varied backgrounds) ended up in the 2nd place regional.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4-app-inverted">
                                <a href="https://github.com/albertoramos1997/CoffeeSpot.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>


                    </div>
                        <!-- ___________________ CONTAINER: GREEN KEEPER ___________________ -->
                        <div class="dev-grid-app-container greenKeeper" style="background-color: rgba(50,90,42,0.4);">
                         <div class="dev-grid-item dev-item1-app-inverted">
                                <img src="../img/GreenKeeper.png" style="width:100%;max-width:380px">
                         </div>

                         <div class="dev-grid-item dev-item2-app-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides5">
                                    <img src="../img/GK1.png" style="width:100%; max-width: 320px; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="../img/GK2.png" style="width:100%; max-width: 320px;  border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="../img/GK3.png"style="width:100%;max-width: 320px; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="../img/GK4.png"style="width:100%;max-width: 320px;  border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="../img/GK5.png"style="width:100%; max-width: 320px; border-radius: 20px; ">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-app-inverted scrollbar" id="style-3">
                                    <p> This project arose in the context of the course of Internet of Things Interaction Design. The courses' goal was to create a product using Internet of Things concepts and Human-Computer Interaction principles
                                    <br><br>
                                    Our group chose to approach the way users interact with their plants, offering an automated solution which guaranteed plants' healthcare by remote control.
                                    <br><br>
                                    The mobile app, which me and other colleague were responsible for, allowed users to monitor and control their plants’ conditions, namely temperature, and moisture levels as well as irrigation duration and frequency.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4-app-inverted">
                                <a href="https://github.com/albertoramos1997/Green-Keeper.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>


                    </div>
                    </div>




            </div>
        </section>

        <!-- _________________________________ WEB DEVELOPMENT _________________________________ -->
        <section class="Development" id="websection">
                <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">Web Development  <i class="fa fa-desktop"></i>
                           <span> HTML | CSS | JavaScript</span>
                    </h1>

                    <!-- ___________________ SECTION DESCRIPTION ___________________ -->
                    <!--<div class="DevDescription">

                        <p> Game design and development is a passion I discovered during my Master degree. It all started as pure curiosity and ended up being my area of specialization.
                            <br>In total, I've done three game development related courses during my Master degree: Game Design, Game Development Methodology and Virtual Reality.
                            <br>All of these courses allowed me to learn and improve my skills in the area, by using tools such as Unity and Blender. Additionally, my master thesis also required me to develop a game from scratch which ended up being tested by over 50 people.
                            <br>Below you can find a small portfolio with some of the games I developed throughout the years.
                        </p>
                    </div>-->

                    <!-- ___________________ CONTAINER: WHERE TO CLIMB ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(255,255,255,0.15);">
                         <div class="dev-grid-item dev-item1-inverted">
                                <img src="../img/WhereToClimb.PNG" style="width:100%;max-width:600px">
                         </div>

                         <div class="dev-grid-item dev-item2-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides6">
                                    <img src="../img/WhereToClimb1.PNG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="../img/WhereToClimb2.PNG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="../img/WhereToClimb3.PNG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="../img/WhereToClimb4.PNG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-inverted scrollbar" id="style-5">
                                 <p>This website was created by me and two other colleagues for the Design of WWW Services course I took during my semester abroad, and its purpose was to help climbers find climbing gyms in Helsinki.
                                <br><br>
                                The website, which is still active, has three main functionalities:

                                An informative section, where the users can find the information about all the climbing gyms available in Helsinki (i.e. Name, Schedule, Prices, Modalities available)
                                <br>
                                A map of Helsinki with pin points that indicate the different locations of the gyms. This way the user can chose the gym that’s more convenient to him.

                                <br>
                                And, since it’s very common to climb with a mate, a forum section that helps the users find possible climbing partners.
                                <br><br>
                                Building this website was a lot of fun since our entire group was passionate about climbing.
                                </p>
                            </div>
                            <div class="dev-grid-item dev-item4-inverted">
                                <a href="https://github.com/albertoramos1997/Where-To-Climb.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                            <div class="dev-grid-item dev-item5-inverted">
                                <a href="https://wheretoclimb.herokuapp.com/" class="gitHub-btn " target="_blank"><i class="fa fa-desktop"></i>  Website </a>
                            </div>

                    </div>


            </div>
        </section>


        <div style="color: white">
            &copy; Designed by Alberto Ramos | albertosilveiramos@gmail.com
        </div>


    </section>


    <!-- _________________________________ SCRIPTS _________________________________ -->

    <!-- ______ SMOOTH SCROLL ______ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();

                  // Store hash
                  var hash = this.hash;

                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>

    <!-- ______ SLIDES / CHANGE IMAGE ______ -->
    <script>
            var slideIndex = [1,1,1,1,1,1];
            var slideId = ["mySlides1", "mySlides2", "mySlides3","mySlides4","mySlides5","mySlides6"];
            showSlides(1, 0);
            showSlides(1, 1);
            showSlides(1, 2);
            showSlides(1, 3);
            showSlides(1, 4);
            showSlides(1, 5);


            function plusSlides(n, no) {
              showSlides(slideIndex[no] += n, no);
            }

            function showSlides(n, no) {
              var i;
              var x = document.getElementsByClassName(slideId[no]);
              if (n > x.length) {slideIndex[no] = 1}
              if (n < 1) {slideIndex[no] = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";
              }
              x[slideIndex[no]-1].style.display = "block";
            }

        </script>


</body>


</html>