<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/background.css" rel="stylesheet" type="text/css">
    <link href="css/about.css" rel="stylesheet" type="text/css">
    <link href="css/development.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Alberto Ramos CV</title>
</head>

<body>

    <!-- _________________________________ NAV BAR _________________________________ -->
    <header>
        <nav>
            <ul>
                <li><a href="#aboutsection">About</a></li>
                <li><a href="#gamesection">Games <i class="fa fa-gamepad"></i></a></li>
                <li><a href="#appsection">Apps <i class="fa fa-mobile"></i></a></li>
                <li><a href="#websection">Web <i class="fa fa-desktop"></i></a></li>
            </ul>
        </nav>
    </header>

    <section id="wrap">

        <!-- _________________________________ HERO _________________________________ -->
        <section class="hero">
        <div id="stars"></div> <div id="stars2"></div><div id="stars3"></div>
        <div class="container">
            <h1 class="title">Alberto Ramos
                <span>is ready to get some work done.</span>

            </h1>
            <a href="#aboutsection" class="button button-accent" >Let's get started</a>
        </div>
        </section>


        <!-- _________________________________ ABOUT _________________________________ -->
        <section class="about" id="aboutsection">
            <div class="about-grid-container">
                <div class="about-grid-item about-item1 about-profile-photo">
                    <img src="img/cv.jpg" >
                </div>
                <h1 class="title about-title about-grid-item about-item2">About me</h1>
                    <div class="about-grid-item about-item3 scrollbarAbout" id="style-5">
                        <p> Hello! My name is Alberto, I am 23 years old, and I’m about to finish my master’s degree in Computer Science. I am currently searching for a job; hence why you’re reading this little website.
                        <br><br>
                        During my bachelor’s and master’s I developed a special interest in game, app and web development, which I consider to be my main strengths within the field of Computer Science. An ideal job in these areas would make use of my existing skills and teach me new ones. I consider myself ambitious and hardworking, and always do my best when presented with a challenge. I’m constantly searching for ways to grow and acquire new knowledge, so I can improve my skillset and fulfill my desire for personal and professional success.
                        <br><br>
                        In my free time I love to go outside and explore, abroad when possible. Photography has been a passion of mine from an early age, so it’s common to see me carrying a camera. Rock climbing is another one of my main interests, and a hobby I took up around two years ago. Since then, I do my best to climb two to three times a week.
                        <br><br>
                        But enough about my interests. Let’s take a look at some of the actual work I’ve developed through the years.
                       </p>
                    </div>
                    <div class="about-grid-item about-item4 ">
                        <a href="Download/CV.pdf" class="about-btn" target="_blank"><i class="fa fa-file-pdf-o" download></i>  Resume </a>
                    </div>
                    <div class="about-grid-item about-item5 ">
                        <a href="https://www.linkedin.com/in/alberto-s-ramos/" class="about-btn" target="_blank"><i class="fa fa-linkedin-square"></i>  LinkedIn </a>
                    </div>

            </div>
        </section>


        <!-- _________________________________ GAME DEVELOPMENT _________________________________ -->
        <section class="Development" id="gamesection">
            <!--<div id="stars"></div> <div id="stars2"></div> <div id="stars3">-->
            <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">Game Development  <i class="fa fa-gamepad"></i>
                            <span> Unity | C# | Blender</span>
                    </h1>
                    <!-- ___________________ CONTAINER: LOOT MACHINA X ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(214,109,36,0.20);">
                            <div class="dev-grid-item dev-item1">
                                <img src="img/LootMachinaX.png" style="width:100%;max-width:450px">
                            </div>

                            <div class="dev-grid-item dev-item2">
                               <div class="slideshow-container">
                                      <div class="mySlides1">
                                        <img src="img/DDJImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="img/DDJImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="img/DDJImage3.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides1">
                                        <img src="img/DDJImage4.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                                      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                                </div>
                            </div>

                            <div class="dev-grid-item dev-item3 scrollbar" id="style-2">
                                     <p>
                                    LootMachinaX was the first 3D game I developed for a Game Design course. The course parameters were very broad and allowed us the freedom to create any sort of game within the theme “Ex-Lootbox”. From this starting point, I designed an exploration game where the goal was to find different loot boxes scattered around the map while exploring a 3D environment. Each of the boxes contained a different augmentation (e.g. ‘super jump’, ‘rush’, ‘break crystals’) which broadened the player’s capacity to interact with the game world.
                                    <br><br>
                                    This course and the work I put into the final project made me fall in love with game development. Many times I found myself excited to get to my desk and work on the game.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4">
                                <a href="https://github.com/albertoramos1997/LootMachinaX.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                    </div>

                    <!-- ___________________ CONTAINER: THE ISLAND ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(51,112,68,0.20);">
                         <div class="dev-grid-item dev-item1-inverted theislandlogo">
                                <img src="img/theislandlogo.png" style="width:100%;max-width:600px">
                         </div>

                         <div class="dev-grid-item dev-item2-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides2">
                                    <img src="img/MDJImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="img/MDJImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="img/MDJImage3.JPG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides2">
                                    <img src="img/MDJImage4.JPG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-inverted scrollbar" id="style-3">
                                    <p>
                                    The Island was created within the context of a Game Development Methodology class I took during my master’s degree. Me and my groupmates developed a 3D low poly game that explored the basic concepts of survival games, such as harvesting materials, hunting animals, gathering various resources, and adventuring through the map.
                                    <br><br>
                                    This course was structured to give students an overview of the entire game development experience, starting nearly from scratches and brainstorming with groupmates to competition and domain analysis.
                                    <br><br>
                                    One of the best parts of this class was the opportunity to work alongside two art students who designed specific assets for our game and helped us improve the overall look and feel of the game environment. Teaming up with people from distinct background and with varied skillsets was an amazing learning experience.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4-inverted">
                                <a href="https://github.com/albertoramos1997/The-Island.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                    </div>

                    <!-- ___________________ CONTAINER: WAY OUT ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(113,70,121,0.20);">
                            <div class="dev-grid-item dev-item1">
                                <img src="img/WayOutLogo.png" style="width:100%;max-width:600px;">
                            </div>

                            <div class="dev-grid-item dev-item2">
                               <div class="slideshow-container">
                                      <div class="mySlides3">
                                        <img src="img/TeseImage3.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="img/TeseImage2.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="img/TeseImage1.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="img/TeseImage4.png" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="img/TeseImage5.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <div class="mySlides3">
                                        <img src="img/TeseImage6.JPG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                      </div>

                                      <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                                      <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                                </div>
                            </div>

                            <div class="dev-grid-item dev-item3 scrollbar" id="style-4">
                                    <p>
                                    Way Out is a 3D low poly puzzle game where you play as a golem who just woke up in a mysterious laboratory and is trying to figure out the purpose of his existence. To do so, he has to solve puzzles and challenges in a dungeon-like environment to both progress through the map and find clues about himself.
                                    <br><br>
                                    This game was developed as a part of my Master’s thesis about attentional skills and mental workload in games. The puzzles were designed to test and map these two aspects.
                                    <br><br>
                                    The hidden plot is that a human scientist has become the first to achieve full conscience transmutation. The puzzles the golem has to solve were created by the golem himself in his human form, and are a simple way to determine if the scientist’s cognitive and reasoning skills have remained intact in his new body.
                                    </p>
                            </div>

                            <div class="dev-grid-item dev-item4">
                                <a href="https://github.com/albertoramos1997/WayOut.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>

                    </div>

            </div>
        </section>

        <!-- _________________________________ APP DEVELOPMENT _________________________________ -->
        <section class="Development"  id="appsection">
                <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">App Development  <i class="fa fa-mobile"></i>
                            <span> Android Studio | Java | XML </span>
                    </h1>
                    <div class="app-wrapper">
                        <!-- ___________________ CONTAINER: COFFEE SPOT ___________________ -->
                        <div class="dev-grid-app-container coffeeSpot" style="background-color: rgba(183,166,128,0.4);">
                         <div class="dev-grid-item dev-item1-app-inverted cs">
                                <img src="img/coffeespot.png" style="width:100%;max-width:450px">
                         </div>

                         <div class="dev-grid-item dev-item2-app-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides4">
                                    <img src="img/CoffeeSpot1.png" style="width:100%; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="img/CoffeeSpot2.png" style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="img/CoffeeSpot3.png"style="width:100%; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="img/CoffeeSpot4.png"style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides4">
                                    <img src="img/CoffeeSpot5.png"style="width:100%; border-radius: 20px; ">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-app-inverted scrollbar" id="style-1">
                                    <p>
                                    This app was developed as part of a student entrepreneurs contest in Portugal (Poliempreende ‘18), which I entered with three other colleagues. I was responsible for the design and development of Coffee Spot’s mobile application (front-end).
                                    <br><br>
                                    The app’s main goal was to facilitate and accelerate the costumer service process, to provide information related to several brand products, and to show costumers the location of the various stores throughout the city.
                                    <br>
                                    We finished second place in the regional division.
                                    </p>
                            </div>
                            <div class="dev-grid-item dev-item4-app-inverted">
                                <a href="https://github.com/albertoramos1997/CoffeeSpot.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>


                    </div>
                        <!-- ___________________ CONTAINER: GREEN KEEPER ___________________ -->
                        <div class="dev-grid-app-container greenKeeper" style="background-color: rgba(50,90,42,0.4);">
                         <div class="dev-grid-item dev-item1-app-inverted">
                                <img src="img/GreenKeeper.png" style="width:100%;max-width:380px">
                         </div>

                         <div class="dev-grid-item dev-item2-app-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides5">
                                    <img src="img/GK1.png" style="width:100%; max-width: 320px; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="img/GK2.png" style="width:100%; max-width: 320px;  border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="img/GK3.png"style="width:100%;max-width: 320px; border-radius: 20px;">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="img/GK4.png"style="width:100%;max-width: 320px;  border-radius: 20px; ">
                                  </div>

                                  <div class="mySlides5">
                                    <img src="img/GK5.png"style="width:100%; max-width: 320px; border-radius: 20px; ">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-app-inverted scrollbar" id="style-3">
                                <p>
                                This project was developed within the context of the Internet of Things Interaction Design. The course’s goal was to create a product using Internet of Things concepts and Human-Computer Interaction principles.
                                <br><br>
                                Our group chose to approach the way users interact with their house plants, offering an automated solution which guaranteed plant care by remote control.
                                <br><br>
                                The mobile app, which me and a colleague were responsible for, allowed users to monitor and control their plants’ environment, namely temperature, moisture levels, as well as irrigation duration and frequency.
                                </p>
                            </div>
                            <div class="dev-grid-item dev-item4-app-inverted">
                                <a href="https://github.com/albertoramos1997/Green-Keeper.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>


                    </div>
                    </div>




            </div>
        </section>

        <!-- _________________________________ WEB DEVELOPMENT _________________________________ -->
        <section class="Development" id="websection">
                <div class="Dev">
                    <!-- ___________________ SECTION TITLE ___________________ -->
                    <h1 class="title Dev-title">Web Development  <i class="fa fa-desktop"></i>
                           <span> HTML | CSS | JavaScript</span>
                    </h1>
                    <!-- ___________________ CONTAINER: WHERE TO CLIMB ___________________ -->
                    <div class="dev-grid-container" style="background-color: rgba(255,255,255,0.15);">
                         <div class="dev-grid-item dev-item1-inverted">
                                <img src="img/WhereToClimb.PNG" style="width:100%;max-width:600px">
                         </div>

                         <div class="dev-grid-item dev-item2-inverted">

                             <div class="slideshow-container">
                                  <div class="mySlides6">
                                    <img src="img/WhereToClimb1.PNG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="img/WhereToClimb2.PNG" style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="img/WhereToClimb3.PNG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <div class="mySlides6">
                                    <img src="img/WhereToClimb4.PNG"style="width:100%; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                  </div>

                                  <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
                                  <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
                             </div>
                         </div>

                            <div class="dev-grid-item dev-item3-inverted scrollbar" id="style-5">

                                    <p>
                                    This website was created by me and two other colleagues for the Design of WWW Services course I took during my semester abroad in Helsinki. The purpose was to help climbers find climbing gyms in this city.
                                    <br><br>
                                    The website, which is still active, has three main functionalities:
                                    <br> - An informative section, where users can find information about all the available climbing gyms (e.g. name, schedule, prices, and climbing practices).
                                    <br> - A map of Helsinki pinpoints gym locations, allowing the user to easily identify the most convenient gym.
                                    <br> - And, since it’s very common to climb alongside a partner, a forum section was included to help users find climbing mates.
                                    <br><br>
                                    Building this website was a lot of fun, since the group was entirely composed of climbers.
                                    </p>

                            </div>
                            <div class="dev-grid-item dev-item4-inverted">
                                <a href="https://github.com/albertoramos1997/Where-To-Climb.git" class="gitHub-btn " target="_blank"><i class="fa fa-github"></i>  GitHub </a>
                            </div>
                            <div class="dev-grid-item dev-item5-inverted">
                                <a href="https://wheretoclimb.herokuapp.com/" class="gitHub-btn " target="_blank"><i class="fa fa-desktop"></i>  Website </a>
                            </div>

                    </div>


            </div>
        </section>


        <div style="color: white">
            &copy; Designed by Alberto Ramos | albertosilveiramos@gmail.com
        </div>


    </section>


    <!-- _________________________________ SCRIPTS _________________________________ -->

    <!-- ______ SMOOTH SCROLL ______ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();

                  // Store hash
                  var hash = this.hash;

                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 800, function(){

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>

    <!-- ______ SLIDES / CHANGE IMAGE ______ -->
    <script>
            var slideIndex = [1,1,1,1,1,1];
            var slideId = ["mySlides1", "mySlides2", "mySlides3","mySlides4","mySlides5","mySlides6"];
            showSlides(1, 0);
            showSlides(1, 1);
            showSlides(1, 2);
            showSlides(1, 3);
            showSlides(1, 4);
            showSlides(1, 5);


            function plusSlides(n, no) {
              showSlides(slideIndex[no] += n, no);
            }

            function showSlides(n, no) {
              var i;
              var x = document.getElementsByClassName(slideId[no]);
              if (n > x.length) {slideIndex[no] = 1}
              if (n < 1) {slideIndex[no] = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";
              }
              x[slideIndex[no]-1].style.display = "block";
            }

        </script>


</body>


</html>